.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;

}

.form-group{
    display: flex;
    align-items: center;

}

input{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 2px;


}

