.hero{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-image: url("/images/bookshelf.jpg");
    background-position: center center;
    background-size: cover;
    height: 275px;
    align-items: center;
    z-index: 0;
}

.headerContainer{
    text-align: center;
}