.hero{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-image: url("/images/bookshelf.jpg");
    background-position: center center;
    background-size: cover;
    height: 275px;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .7);
}

.title-conatiner{
    text-align: center;
}

#hero-title{
    font-size: 3rem;
    margin-bottom: 0 ;
}

#hero-subtitle{
    margin-top: 0 ;


}