.nav{
    display:flex;
    align-items: flex-end;
    height:4rem;
    box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 1);
    background-color: #478ABD;
    position: relative;
}

.books{
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    align-self:center;
}

a{
    color: inherit;
    text-decoration: inherit;
    padding: 3px;
}

.nav-tabs {
margin-left: auto;

}



