.results-wrapper{
    margin: auto;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 45px;

}

hr{
    align-self: flex-end;
    height:1px;
    width: 55%;
    border-width:0;
    color: RGBA(161,203,225, .6);
    background-color: RGBA(161,203,225, .6);
}

.img-wrapper{
    padding: 27px;
}


#save-button{
padding: 7px 9px;
 
}

.button-wrapper{
    display: flex;
    justify-content: flex-end;    
    align-items: flex-end;
}

#view-book-button{
    padding:0px 8px;
}

